/**
 * Table of Contents for AdamPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(32);
}
.top-bar {
  a, a:link, a:visited, a:link:visited{border-bottom: none;}
  a:hover, a:active {text-shadow: 1px 1px 5px #000; color: #ddd;}
  }

  // Fix the issue where the WP adminbar overlaps the mobile menu
  #wpadminbar {
    position: fixed !important;
  }

  /**
   * 2.0 Typography
   * ----------------------------------------------------------------------------
   */

  .entry-content{font-family: "Droid Serif";}


  /**
   * 3.0 Header, sidebar and footer
   * ----------------------------------------------------------------------------
   */

 .title-area {
   background: #1969A5; /* Old browsers */
   background: -webkit-linear-gradient(-60deg, rgba(22,104,165,1) 0%,rgba(23,105,165,.9) 11%,rgba(37,114,170,.8) 33%,rgba(33,111,169,.9) 61%,rgba(20,103,164,1) 88%,rgba(18,102,163,1) 100%); /* Chrome10+,Safari5.1+ */
   background: linear-gradient(120deg, rgba(22,104,165,1) 0%,rgba(23,105,165,.9) 11%,rgba(37,114,170,.8) 33%,rgba(33,111,169,.9) 61%,rgba(20,103,164,1) 88%,rgba(18,102,163,1) 100%); /* W3C */
 }


  /**
   * 4.0 Content
   * ----------------------------------------------------------------------------
   */


/*! Language-specific quotes */
/** Commented out because the compiler is throwing an error on `:lang(pl)`
*
* :lang(af){quotes:'\201E' '\201D' '\201A' '\2019';}
* :lang(ak){font-family:Lucida,"DejaVu Sans",inherit;}
* :lang(ar){font-family:Tahoma 12,Nazli,KacstOne,"DejaVu Sans",inherit;}
* :lang(bg){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(bn){font-family:FreeSans,MuktiNarrow,Vrinda,inherit;font-size:1.1em;line-height:1.4em;}
* :lang(cs){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(da){quotes:'\00BB' '\00AB' '\203A' '\2039';}
* :lang(de){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(de)>q {quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(el){font-family:"DejaVu Sans",inherit;quotes:'\00AB' '\00BB' '\2039' '\203A';}
* :lang(en-GB){quotes:'\2018' '\2019' '\201C' '\201D';}
* :lang(es){quotes:'\00AB' '\00BB' '\2039' '\203A';}
* :lang(fa){font-family:Terafik,Traffic,Roya,Nazli,Nazanin,sans;font-size:1.5em;}
* :lang(fi){quotes:'\201D' '\201D' '\2019' '\2019';}
* :lang(fr){quotes:'\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a';}
* :lang(hr){quotes:'\00BB' '\00AB' '\203A' '\2039';}
* :lang(is){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(ja){font-size:1.1em;}
* :lang(km){font-family:"Khmer OS System","Khmer OS","Khmer Kampongtrach","CDT Khmer",inherit;line-height:2em;}
* :lang(ko){font-size:1.1em;}
* :lang(lt){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(nl){quotes:'\201E' '\201D' '\201A' '\2019';}
* :lang(pl){quotes:'\201E' '\201D' '\201A' '\2019';}
* :lang(ro){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(ru){quotes:'\00AB' '\00BB' '\201E' '\201C';}
* :lang(sk){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(sq){quotes:'\00AB' '\00BB' '\2039' '\203A';}
* :lang(sr){quotes:'\201E' '\201C' '\201A' '\2018';}
* :lang(sv){quotes:'\201D' '\201D' '\2019' '\2019';}
* :lang(tr){quotes:'\00AB' '\00BB' '\2039' '\203A';}
* :lang(vi){font-family:"Lucida Grande","Vu Phu Tho","DejaVu Sans",inherit;}
* :lang(vi) a:hover,:lang(vi) a:active{text-decoration:none;color:#606047;}
* :lang(zh){font-size:1.5em;}
*/



  /**
   * 4.1 Pages
   * ------------------------------------
   */

  // Hero

  #homepage-hero {
    background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68;
    padding: rem-calc(20) 0;
    margin: - rem-calc(32) 0 rem-calc(32);
    position: relative;
    text-align: left;
    height: auto;

    h1 a, h4 { color: #fff; }

    .floatingyeti img {
      max-width: 30%;
      position: absolute;
      right: rem-calc(100);
    }

    .download { margin-top: rem-calc(20); }
  }


  /**
   * 4.2 Posts
   * ------------------------------------
   */

  blockquote{
    background-color: #f1f7fb;
    color: #456;
    border-top: 1px solid rgba(200, 200, 200, .6);
    border-bottom: 1px solid rgba(255, 255, 255, .9);

    p {color:#456;}
  }


  /**
   * 4.3 Widgets
   * ------------------------------------
   */

  .widget{padding:1rem;}

  .widget h6
  {
  position: relative;
  width: 100%;
  font-size: 110%;
  padding: 6px 20px 6px 70px;
  margin: 30px 10px 10px 0;
  color: #555;
  background-color: #fff;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 2px 4px #888;
  -moz-box-shadow: 0px 2px 4px #888;
  box-shadow: 0px 2px 4px #888;
  }
  .widget h6:after
  {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
  }
  .widget ul, .widget .tagcloud{padding-left: 2rem; padding-top:1rem;}



  .widget_tag_cloud a,
  .widget_tag_cloud a:link{text-decoration:none;color:#036;border-bottom: none; padding-bottom:0; } /* a:link is needed to overcome default browser styling in Chrome */

  .widget_tag_cloud a:visited,
  .widget_tag_cloud a:link:visited{text-decoration:none;color:#006ec6; border-bottom:none; padding-bottom:0;}

  .widget_tag_cloud a:hover{text-decoration:none;border-bottom: none;}


/**
 * 4.4 Comments
 * ------------------------------------
 */

  // Insert styles here


  /**
   * 4.5 Lists
   * ------------------------------------
   */

  // Insert styles here


  /**
   * 4.6 Forms
   * ------------------------------------
   */

  // Insert styles here


  /**
   * 5.0 Plugins
   * ----------------------------------------------------------------------------
   */

  // Insert styles here


  /**
   * 6.0 Custom Styles
   * ---------------------------------------------------------------
   */

  /* Matching classes assigned so we don't use headings for visual styling
  concept from the w3's css - http://www.w3.org/2008/site/css/minimum */

  /*
  h1,
  .h1-style{ }

  h2,
  .h2-style{ }

  h3,
  .h3-style{ }

  h4,
  .h4-style{ }

  h5,
  .h5-style{ }

  h6,
  .h6-style{ }
  */

  /** i is semantic HTML5 for things which shouldn't be read with 'emphasis' by a screenreader (like a latin species name)
   * italic-style is for things which are only italicized visually, with no added semantic importance
   */

  i,
  em,
  .italic-style{font-style: italic;}

  /** b is semantic HTML5 for things which shouldn't be read in a 'strong' voice by a screenreader
   * bold-style is for things which are only bold visually, with no added semantic importance
   */

  b,
  .bold-style{font-weight:bolder;}

  /** since 'strong' does have semantic emphasis we make it 'bold' not just 'bolder' */

  strong{font-weight:bold;}

  abbr[title]{border-bottom:thin dotted rgba(122, 122, 122, .5);}

  /* no (dotted) bottom border for abbr in headlines, because it looks stupid */
  h1>abbr,
  h2>abbr,
  h3>abbr,
  h4>abbr,
  h5>abbr,
  h6>abbr{border-bottom:none;}

  /* courtesy of twitter bootstrap */

  abbr.initialism{text-transform: uppercase; font-size:90%;}

  /* The order of link psudeo class properties matters... */
  a,
  a:link{text-decoration:none;color:#036;border-bottom:1px solid #a8bfcf;padding-bottom:0; } /* a:link is needed to overcome default browser styling in Chrome */

  a:visited,
  a:link:visited{text-decoration:none;color:#006ec6; border-bottom:1px solid #fff; padding-bottom:0;}

  a:hover{text-decoration:none;border-bottom:#005a9c 2px solid }

  a:active{text-decoration:none;outline:0 none;position:relative;top:1px; }/* a:focus is often the same as a:active and if so combine rules */

  a:focus{text-decoration:none }

  /* Use for location references or 'sub-headlines' that should be indexed as part of headline */
  .sub-title{
    display:block;
    letter-spacing:normal;
    word-spacing:normal;
    font-size:18px;}

  .center-flow{text-align: center;}

  .center-block{margin-left:auto;margin-right: auto;}

  .ninety-text{font-size:90%;}

  .one-ten-text{font-size:110%;}

  /* Utility spacing classes, concept from the w3's css - http://www.w3.org/2008/site/css/minimum */

  /* `p` is for padding */
  .p1{padding:1rem;}

  .p1t{padding-top:1rem;}

  .p1r{padding-right:1rem;}

  .p1b{padding-bottom:1rem;}

  .p1l{padding-left:1rem;}

  /* 'm' is for margin */
  .m1{margin:1rem;}

  .m1t{margin-top:1rem;}

  .m1r{margin-right:1rem;}

  .m1b{margin-bottom:1rem;}

  .m1s{margin-left:1rem;}

  /** Mobile Nav
   *
   */
  .tab-bar{
    a, a:link, a:visited, a:link:visited {border-bottom:none;}
    a:hover, a:link:hover, a:active, a:link:active, .menu-icon:hover, .menu-icon:active {text-shadow: 1px 1px 5px #000; color: #ddd;}
  }

